<div class="header">
  <div class="header-container">
    <div class="logo-container">
      <div class="logo">
        <span class="logo-icon">CS</span>
        <span class="logo-text">CogniSwitch</span>
      </div>
    </div>
    <div class="menu-container">
      <p-menubar [model]="items" styleClass="header-menubar">
        <ng-template pTemplate="end">
          <button pButton label="Book Consult" icon="pi pi-calendar-plus" class="p-button-rounded"></button>
        </ng-template>
      </p-menubar>
    </div>
  </div>
</div>